:root {
    --dark: #22577E;
    --medium: #5584AC;
    --light: #95D1CC;
    --very-light: #FAFFAF;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 10px;
}

body {
    background-color: var(--dark);
}

h1 {
    font-size: 5rem;
    color: var(--very-light);
}

h2 {
    font-size: 3rem;
    color: var(--very-light);
    width: 50%;
    margin: auto;
}

h3 {
    font-size: 2rem;
    color: var(--very-light);
}

p {
    font-size: 1.6rem;
    color: var(--very-light);
}

.dev-photo {
        display: block;
        margin: auto;
        width: 50%;
        max-width: 200px;
        border-radius: 100%;
        border: var(--light) 2px solid;
}

/* Nav Elements */

nav {
    margin-bottom: 50px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list-item {
    margin: 20px;
    border: 1px dashed var(--medium);
    border-radius: 3px;
}

.nav-list-link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    color: var(--very-light);
}

/* My Work Section */

.my-work-container {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app {
    width: 45%;
    height: 250px;
    margin: 20px;
    position: relative;
    border: 3px solid var(--light);
    overflow: hidden;
}

.app1 {
    width: 100%;
    height: 300px;
}

.app1-img {
    max-width: 100%;
}

.app2 {
    background-color: red;
}

.app3 {
    background-color: blue;
}

.app-title {
    border: 3px 3px 0 0 solid var(--light);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: rgba(36, 6, 45, 0.7)
}

/* About Me Section */



/* Contact Section */