nav,
footer {
  background-color: #554e64;
  height: 80px;
  font-family: "PT Mono", monospace;
  font-size: 1.5rem;
}

.nav-link-h,
.nav-link-w,
.nav-link-h:focus,
.nav-link-w:focus {
  color: white;
}

.nav-link-h:hover {
  color: #65ca69;
}

.nav-link-h:active {
  color: #65ca69;
}

body {
  background-color: #2a2632;
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 75px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: #65ca69;
}

h1 {
  color: #65ca69;
  font-family: "Della Respira", serif;
  font-size: 5rem;
  margin: 3rem;
}

.main-text {
  color: #d0bfff;
  font-family: "PT Mono", monospace;
  font-size: 1.6rem;
  margin: 3rem;
}

ul {
  list-style: none;
  padding-left: 0em;
}

.my-work-h,
.nav-link-w:hover,
.footer-2 a:hover {
  color: #f4ae45;
}

.my-work-cards {
  font-family: "PT Mono", monospace;
}

.card-link {
  box-shadow: inset 0 0 0 0 #f4ae45;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-link:hover {
  box-shadow: inset 300px 0 0 0 #f4ae45;
  color: white;
}

iframe {
  height: 1000px;
  width: 100%;
}

.modal-color {
  background-color: #655c78;
}

.modal-text {
  font-size: 1.2rem;
  font-family: "PT Mono", monospace;
}

.modal-text a {
  color: white;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    margin: 1rem;
  }

  .main-text {
    font-size: 1.3rem;
    margin: 1rem;
  }
}
