:root {
    --dark: #22577E;
    --medium: #5584AC;
    --light: #95D1CC;
    --very-light: #FAFFAF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light);
}

.header {
    background-color: var(--dark);
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: var(--very-light);
    margin-right: auto;
    margin-left: 20px;
}

h2 {
    font-size: 2.5rem;
    color: var(--dark);
    text-align: right;
}

h3 {
    font-size: 2rem;
    color: var(--very-light);
}

p {
    font-size: 1.6rem;
    color: var(--dark);
    margin-left: 20px;
    padding: 20px;
}

/* Sections text styling */

.section-heading {
    min-width:20%;
    max-width:20%;
    padding: 20px;
    text-align: right;
    vertical-align: top;
    display: inline-block;
}

.section-text {
    display: inline-block;
    border-left: 3px solid var(--dark);
    max-width: 50%;
    margin: 50px 0;
    padding: 0 20px;
}

/* Nav Elements */

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 50px 10px;
    width: 100%;
}

.dev-photo {
    max-width: 100px;
    border-radius: 100%;
    border: var(--medium) 2px solid;
    margin: 5px;
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    display: inline-flex;
    border-bottom: 3px solid var(--light);
    border-radius: 3px;
    margin: 10px;
}

.nav-list-link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--very-light);
}


/* My Work Section */

.my-work-container {
    width: 75%;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left: 3px solid var(--dark);
}

.app {
    width: 45%;
    height: 250px;
    margin: 20px;
    position: relative;
    border: 3px solid var(--light);
    border-radius: 10px;
    overflow: hidden;
}

.app1 {
    width: 100%;
    min-width: 100%;
    height: 300px;
}

.app-img {
    max-width: 100%;
}

.app2 {
    background-color: red;
}

.app3 {
    background-color: blue;
}

.app-title {
    border: 3px 3px 0 0 solid var(--light);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: rgba(85, 132, 172, 0.8)
}



